
#collage{
 max-width:1500px;
 max-height:1500px;
 clear:both;
 float:left;
}

#itemContainer {
    position: relative;
    display: inline-block;
    max-width: 300px; max-height: 300px;
    padding: 0px;
}

#itemContainer>.text-box {
    position: absolute;    
    height: 100%;
    text-align: left;    
    width: 100%;
    padding: 0px;
}
#itemContainer>.text-box:before {
   content: '';
   display: inline-block;
   height: 100%;
   vertical-align: middle;
   padding: 0px;
}
h4 {
   display: inline-block;
   font-size: 14px;
   color: #FFF;   
   float:left;
   text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}

.post-content {
    top:10px;
    left:10px;
    position: absolute;
    padding: 0px;
}

.no-gutter > [class*='col-'] {
    padding-right:0;
    padding-left:0;
    max-height: 300px;
}

.row{
    overflow: hidden; 
    padding: 0px;
}

.col{
    max-width: 300px;
    max-height: 300px;
}

.lastfm-image {
  width: 100%; 
  height: 100%;
  vertical-align:middle;
  box-sizing: content-box;
  display: inline-block;
width: 100% \9;
}

.lastfm-image:before {
  width: 100%; 
  height: 100%;
  box-sizing: content-box;
}
.lastfm-image:after {
  width: 100%; 
  height: 100%;
  box-sizing: content-box;
}